<!DOCTYPE html>
<html>
<head>
	<title>Register User</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				<script src="/JS/dropdownfiller.js"></script>
</head>
<body ng-app="myapp" >
	 <h1> Register Page </h1>
	<form action="/registerUser" method="POST">
	<div ng-controller="RegisterController">
	<div>
		<input type="text" name="UserName" ng-model="UserName"/></div>
	<div>
	<div>
		<input type="Password" name="Password" ng-model="Password"/></div>
	<div>
	<select ng-options="item.Type for item in collections" ng-model="selecteditem"> </select>
</div>
<div>
	<Button type="Submit">Submit</Button>
</div>
</div>
</form>
</body>
</html>